include ../mixins/profit
include ../mixins/quiz
include ../mixins/feature
include ../mixins/card
include ../mixins/title

.container
	.breadcrumb
		a.breadcrumb__link(href="/") Главная
		a.breadcrumb__link(href="/") Авто запчасти
		a.breadcrumb__link(href="/") ГАЗ
		a.breadcrumb__link(href="/") ГАЗ-3302
		.breadcrumb__last-item Вал рулевого управления ГАЗ-3302 нижний в сборе

.suitable
	.container
		p.suitable__text Этот продукт подходит для ГАЗ-3302 (2005-2008 год) 1,6 TDI

.container
	.item.main__item
		h1.item__title Вал рулевого управления ГАЗ-3302 нижний в сборе
		.row
			.col-md-6
				.item-slider.gallery
					a.item-slider__img.gallery__img(href="img/item1.jpg" style="background-image: url(img/item1.jpg);")
					a.item-slider__img.gallery__img(href="img/item1.jpg" style="background-image: url(img/item1.jpg);")
					a.item-slider__img.gallery__img(href="img/item1.jpg" style="background-image: url(img/item1.jpg);")
			.col-md-6.col-xl-5.push-xl-1
				.item__row
					.item__text-wrap
						p.item__text= 'Артикул: '
							span.item__value 3302-3401042
						p.item__text= 'Производитель: '
							span.item__value ГАЗ - Автозапчасти
						p.item__text= 'Наличие на складе: '
							span.item__value Есть
					img.item__brand(src="img/logo-manufacturer.png")

				.item__row.item__row_price
					.discount.item__discount
						.discount__text Скидка
						.discount__value -10%
					.item__price-wrap
						.item__old-price= '4 130 '
							i.fa.fa-rub
						.item__price= '3 753 '
							i.fa.fa-rub
					.item__text-sm-wrap
						p.item__text-sm Экономия: <b>353 руб.</b>, включая 19% НДС.
						p.item__text-sm Доставка: <b>450 руб.</b>

				.row.item__row.item__row_2x.item__row_bag
					.col-sm-5.col-md-12.col-lg-5
						.number.item__number
							.number__btn.number__btn_minus
							input.number__input(type="text" value="1")
							.number__btn.number__btn_plus

					.col-sm-7.col-md-12.col-lg-7
						a.btn.btn_fill.btn_bag.btn_wide.item__bag(href="#") Корзина

				.row.item__row
					.col-12
						p.subtitle.item__subtitle Способы оплаты
						.pay
							each val in pay
								.pay__item.item__pay
									img.pay__img(src="img/" + val.item)

	.row.main__profits
		each val in profit_item
			.col-sm-6.col-lg-3.main__space_bot
				+profit(val)(class="profit_thin")

	.tab.tab_bigger.tab_left
		.tab__head
			a.tab__link.tab__link_active(href="#tab1")
				span.red-line
				| Описание
			a.tab__link(href="#tab2")
				span.red-line
				| Характеристики
			a.tab__link(href="#tab3")
				span.red-line
				| Вопросы и ответы

		.tab__body

			#tab1.tab__content.visible
				p Лорем ипсум долор сит амет, детрацто постулант малуиссет но хис, хас аутем харум зрил не, нисл фацер деленити хас ин. Но пер мазим ехплицари елаборарет, еам диссентиас реферрентур ин, мел ет дицант ментитум цотидиеяуе. Вирис фацете бонорум сеа ад, мел малорум репрехендунт не. Вих еним аццусам но, меи но сале аутем мунди. Яуи ех популо фиерент яуаестио, хис но вери пробо.
				p Ин меа яуис либер яуодси, не волумус иудицабит реформиданс иус. Тамяуам сусципит салутатус ет при, долоре тациматес волутпат ех вел. Чоро елояуентиам ад нец, ад ирацундиа волуптариа мел. Иусто оратио репримияуе хас не, еос тота трацтатос еу. Ех меа инсоленс елеифенд хонестатис, еос алияуид импердиет пхилосопхиа но.

			#tab2.tab__content
				.tab__features
					each val in feature
						+feature(val)(class="tab__feature")

			#tab3.tab__content
				each val in quiz
					+quiz(val)(class="tab__quiz")

	+title("С этим товаром так же покупают")
	.row
		each val in popular_spares
			.col-sm-6.col-md-4.col-lg-3.main__space_bot
				+card(val)