// FOOTER
footer.footer
	.footer__head
		.container
			.row.align-items-center
				.col-md-3
					a.logo.logo_gray.footer__logo(href="/")
						img.logo__img(src="img/logo.svg")
				.col-md-4
					.footer__title.footer__title.subtitle Рубрики

				.col-md-5.col-lg-2
					.footer__title.subtitle Контакты
				.hidden-md-down.col-lg-3
					.footer__title.subtitle социальные сети


	.footer__main
		.container
			.row
				.col-md-4
					.footer__head-mobile
						.footer__title.subtitle Рубрики
					.row
						.col-6
							.footer__menu
								a.footer__menu-link(href='') Марки авто
								a.footer__menu-link(href='') Авто запчасти
								a.footer__menu-link(href='') Двигатели
								a.footer__menu-link(href='') Сцепления
								a.footer__menu-link(href='') Фильтры
								a.footer__menu-link(href='') Коробки передачь
						.col-6
							.footer__menu
								a.footer__menu-link(href='') О компании
								a.footer__menu-link(href='') Партнеры
								a.footer__menu-link(href='') Контакты
								a.footer__menu-link(href='') Скидки
								a.footer__menu-link(href='') Вакансии
								a.footer__menu-link(href='') Наша команда
				.col-md-5
					.row
						.col-sm-6.col-md-12.col-lg-5
							.footer__head-mobile
								.footer__title.subtitle Контакты
							.footer__contacts
								p Бесплатно по России
								a.footer__info(href= tel1.link) #{tel1.text}
								p Санкт-Петербург
								a.footer__info(href= tel2.link) #{tel2.text}
								p Электронный адрес
								a.footer__info(href="mailto:" + mail.text) #{mail.text}
								p График работы
								.footer__info.footer__info_sm ПН-ПТ - С 9:00 до 17:00
						.col-sm-6.col-md-12.col-lg-7.footer__socials
							.footer__head-mobile
								.footer__title.subtitle социальные сети
							.socials
								a.socials__item.socials__item_fb(href="#" target="_blank")
									i.fa.fa-facebook(aria-hidden="true")
								a.socials__item.socials__item_tw(href="#" target="_blank")
									i.fa.fa-twitter(aria-hidden="true")
								a.socials__item.socials__item_yb(href="#" target="_blank")
									i.fa.fa-youtube-play(aria-hidden="true")
								a.socials__item.socials__item_pin(href="#" target="_blank")
									i.fa.fa-pinterest-p(aria-hidden="true")
								a.socials__item.socials__item_in(href="#" target="_blank")
									i.fa.fa-instagram(aria-hidden="true")
								a.socials__item.socials__item_plus(href="#" target="_blank")
									i.fa.fa-plus(aria-hidden="true")
							.subtitle.footer__subscribe Подписка на новости и акции
							form.footer__email
								.footer__input-wrap
									input.footer__input(type="text", placeholder="Email")
									button.footer__send
										i.fa.fa-paper-plane-o(aria-hidden="true")

								label.checkbox.footer__checkbox Я согласен на новостную подписку
									input(type="checkbox").checkbox__hid
									span.checkbox__vis
				.col-md-3.flex-md-first
					.footer__head-mobile
						a.logo.logo_gray.footer__logo(href="/")
							img.logo__img(src="img/logo.svg")
					.footer__motto
						| Надежность
						span.red= " / "
						| Комфорт
						span.red= " / "
						| Качество

					p Общество с ограниченной ответственностью "РостСервис" занимается оптовой торговлей запасными частями и агрегатами, принадлежностями к коммерческим автомобилям с февраля 2005 года.

					p © Copyright by rostservice 2005 - 2017.
						br
						| Все права защищены
